body{
padding:0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* height: 100vh; */
}

.container{
    display:flex;
	padding:15px;
justify-content:center;
align-items:center;
	width:500px;
	height:150px;
	background-color:grey;
border:solid;
border-radius:25px;
}
.green,.yellow,.red{

    width:100px;
	height:100px;
	border-radius:50%;
    padding:10px;
 display:flex;
	
justify-content:center;
align-items:center;

}
.green{

	background-color:green;
}
.yellow{
	background-color:yellow;
}
.red{
background-color:red;
}














